section{
    display:flex;
    justify-content: center;
    align-items: center;
}
#calculator{
    width:50%;
    aspect-ratio: 1/1;
    display:flex;
    flex-direction: column;
    font-size: calc(12px + 1vw);
}
#calculator > *{
    display:inline-flex;
    width:100%;
    height:calc(100% / 5);
} 
#calculator .input{
    font-size: calc(6px + 1vw);
    display:flex;
    width:100%;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
}
#calculator .input input{
    min-width: 60%;
    max-width: 70%;
}
#calculator div input{
    height:100%;
}
#operations{
    display:flex;
}
#operations > *{
    width:calc(100% / 5);
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#result{
    display:flex;
    justify-content: center;
    align-items: center;
    border:dashed 1px #4A5368;
}
#clear{
    display:flex;
    justify-content: center;
    align-items: center;
}